<form>
  <label for="description" class="heading description">DESCRIPTION</label>
  <input
    type="text"
    name="description"
    placeholder="Enter Task"
    id="description"
  />
  <fieldset>
    <legend class="heading">WHEN</legend>
    <input type="radio" name="date" id="today" />
    <label for="today">TODAY</label>
    <input type="radio" name="date" id="tomorrow" />
    <label for="today">TOMORROW</label>
    <input type="radio" name="date" id="choose-date" />
    <label for="today">CHOOSE DATE</label>
  </fieldset>
  <button type="submit" class="addTask">Add Task</button>
</form>
