@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Roboto:wght@300;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --fw-primary: 500;
  --fw-primary-bold: 900;
  --fw-primary-light: 300;
  --fw-secondary: 600;
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --text-primary: #393939;
  --text-secondary: #111111;
  --content-passive: #d4d4d4;
  --content-background: hsla(0, 0%, 83%, 0.1);
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--text-primary);
}
