.taskList {
  background-color: var(--content-background);
  font-weight: var(--fw-primary-light);
  overflow-y: auto;
}

input[name="task"] {
  opacity: 0;
  width: 0;
  height: 0;
}

label {
  padding: 0.75em;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.14em;
}
